@font-face {
  font-family: 'wiicon';
  src:  url('../fonts/wiicon.eot?sq3rxy');
  src:  url('../fonts/wiicon.eot?sq3rxy#iefix') format('embedded-opentype'),
    url('../fonts/wiicon.ttf?sq3rxy') format('truetype'),
    url('../fonts/wiicon.woff?sq3rxy') format('woff'),
    url('../fonts/wiicon.svg?sq3rxy#wiicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'wiicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wi-add:before {
  content: "\e900";
}
.icon-wi-del:before {
  content: "\e901";
}
.icon-wi-warning:before {
  content: "\e903";
}
.icon-wi-error:before {
  content: "\e904";
}
.icon-wi-set:before {
  content: "\e902";
}
.icon-wi-more:before {
  content: "\e905";
}
.icon-wi-list:before {
  content: "\e906";
}
.icon-wi-edit:before {
  content: "\e907";
}
.icon-wi-add2:before {
  content: "\e908";
}
.icon-wi-arrow-top:before {
  content: "\e909";
}
.icon-wi-arrow-down:before {
  content: "\e90a";
}
.icon-wi-excel:before {
  content: "\e90b";
}
.icon-wi-pc:before {
  content: "\e90c";
}
.icon-wi-shape:before {
  content: "\e90d";
}
.icon-wi-phone:before {
  content: "\e90e";
}
.icon-wi-down:before {
  content: "\e90f";
}
.icon-wi-data-up:before {
  content: "\e910";
}
.icon-wi-data-down:before {
  content: "\e911";
}
