<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!--默认用ie8的最高内核进行渲染，如果有谷歌的gcf，则用谷歌的内核渲染-->
    <meta name="renderer" content="webkit"><!--默认用360极速模式渲染-->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!--默认以百分百比例打开-->
    <title>业务领域-维得</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/wi_main.css">
</head>
<body class="index">
<header>
    <nav class="container">
        <a href="../index.html"><img src="img/logo.png" class="logo left"/></a>
        <span class="phone_navBtn"></span>
        <ul class="nav_l">
            <li><a href="../index.html">首页</a></li>
            <li class="active"><a href="business.html">业务领域</a></li>
            <li><a href="lawyer.html">律师团队</a></li>
            <li><a href="case.html">亲办案例</a></li>
            <li><a href="trends.html">维得动态</a></li>
            <li><a href="teams.html">团队介绍</a></li>
            <li><a href="contact.html">联系我们</a></li>
        </ul>
    </nav>
</header>

<div class="banner_box">
     <img style="cursor:pointer" class="w_p100" src="img/banner-business.jpg"/>
</div>


<div class="b_w font_section">
    <img class="img-title" src="img/business-title.jpg">
</div>

<div class="b_w">
    <div class="container business-list-box">
        <div class="p_top_30 p_bottom_30 flex-box flex-start justify-center">

            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>房产纠纷</h3>
                    <div class="p-content">
                        <p>房屋买卖合同纠纷</p>
                        <p>经济适用房转让合同纠纷</p>
                        <p>房屋租赁合同纠纷</p>
                        <p>房地产开发经营合同纠纷</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-1.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>合同纠纷</h3>
                    <div class="p-content">
                        <p>买卖合同纠纷     </p>
                        <p>赠与合同纠纷</p>
                        <p>借款合同纠纷</p>
                        <p>保证合同纠纷</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-2.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>法律顾问</h3>
                    <div class="p-content">
                        <p>日常法律咨询服务 审查、修改各类合同、协议等 审核文件及相关材料，提出法律建议或者处置措施  </p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-3.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>拆迁纠纷</h3>
                    <div class="p-content">
                        <p>房屋拆迁纠纷  </p>
                        <p>征地拆迁</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-4.html">立即咨询</a>
                    </div>
                </div>
            </div>

            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>债权债务</h3>
                    <div class="p-content">
                        <p>金融借款纠纷    </p>
                        <p>企业借贷纠纷</p>
                        <p>民间借贷纠纷</p>
                        <p>小额借款合同纠纷</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-5.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>刑事犯罪</h3>
                    <div class="p-content">
                        <p>经济类犯罪         </p>
                        <p>人身伤害类犯罪</p>
                        <p>侵犯财产类犯罪</p>
                        <p>贪污贿赂类犯罪</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-6.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>婚姻继承 </h3>
                    <div class="p-content">
                        <p>婚约财产纠纷         </p>
                        <p>离婚纠纷</p>
                        <p>离婚后财产纠纷</p>
                        <p>离婚后损害责任纠纷</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-7.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>破产清算</h3>
                    <div class="p-content">
                        <p>申请破产清算</p>
                        <p>申请破产重整</p>
                        <p>申请破产和解</p>
                        <p>破产债权确认纠纷</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-8.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>商事仲裁</h3>
                    <div class="p-content">
                        <p>民商事仲裁</p>
                        <p>国际商事仲裁</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-9.html">立即咨询</a>
                    </div>
                </div>
            </div>
            <div class="flex-item-4 item">
                <div class="relative t_center shadow-box m_10 p_20">
                    <h3>股权纠纷</h3>
                    <div class="p-content">
                        <p>股东资格确认纠纷 </p>
                        <p>股东知情权纠纷</p>
                        <p>股东名册记载纠纷</p>
                        <p>股东出资纠纷</p>
                    </div>
                    <div class="m_top_40 m_bottom_40">
                        <a class="color_button" href="business/business-10.html">立即咨询</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="footer_box">
    <footer class="container">
        <div class="foot_list">
            <dl>
                <dd><img src="img/logo-2.png"> </dd>
            </dl>
            <dl>
                <dd>请您投递邮箱：jingshiweidelawyer@163.com</dd>
                <dd>
                    <a href="#">隐私条款</a>
                    <a href="#">法律声明款</a>
                    <a href="#">加入我们</a>
                    <a href="#">联系我们</a>
                </dd>
                <dd>主任免费咨询：400  678  7698 </dd>
                <dd>律师免费咨询：400  678  7698</dd>
                <dd><a href="#">地址：北京市朝阳区东四环中路37号京师律师大厦</a></dd>
            </dl>
        </div>
        <div class="foot_ewm">
            <a href="#"><img src="img/ewm.jpg"></a>
            <p>扫一扫关注我们</p>
        </div>
        <div class="foot_bottom">
            <span class="foot_logo"></span>
            Copyright 京师维得律师团队 All rights  reserved. 京ICP备17072863
        </div>
    </footer>
</div>

</body>
<script src="../common/js/vendor/jquery-1.9.0.min.js"></script>
<script src="../common/js/vendor/headroom.min.js"></script><!--导航跟随效果-->
<script src="../common/js/vendor/aniAuto.min.js"></script><!--动画执行-->
<script src="js/wi_main.js"></script><!--网站主要js-->
</html>