<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!--默认用ie8的最高内核进行渲染，如果有谷歌的gcf，则用谷歌的内核渲染-->
    <meta name="renderer" content="webkit"><!--默认用360极速模式渲染-->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!--默认以百分百比例打开-->
    <title>亲办案例-维得</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/wi_main.css">
</head>
<body>

<header>
    <nav class="container">
        <a href="../index.html"><img src="img/logo.png" class="logo left"/></a>
        <span class="phone_navBtn"></span>
        <ul class="nav_l">
            <li><a href="../index.html">首页</a></li>
            <li><a href="business.html">业务领域</a></li>
            <li><a href="lawyer.html">律师团队</a></li>
            <li class="active"><a href="case.html">亲办案例</a></li>
            <li><a href="trends.html">维得动态</a></li>
            <li><a href="teams.html">团队介绍</a></li>
            <li><a href="contact.html">联系我们</a></li>
        </ul>
    </nav>
</header>

<div class="banner_box">
    <img style="cursor:pointer" class="w_p100" src="img/banner-case.jpg"/>
</div>

<div class="font_section">
    <h3 class="title-A">Case study</h3>
    <h2 class="title-T">亲办案例</h2>
</div>

<div class="b_w">
    <div class="container">
        <div class="p_top_30 p_bottom_30 flex-box flex-start caselist-card">
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon1"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>房产纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>

            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon2"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>合同纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon3"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>债务纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon4"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>房产纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon5"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>房产纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon6"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>房产纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon7"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>房产纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon8"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>房产纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="relative t_center shadow-box m_10">
                    <i class="case-icon case_icon9"></i>
                    <div class="caselist-text">
                        <p class="w_p100"><span>京师网用户：</span>杨先生&nbsp;&nbsp;&nbsp;&nbsp;<span>纠纷类型：</span>房产纠纷</p>
                        <p class="w_p100"><span>案情描述：</span>2016年8月11日，杨先生与人签订的房屋转让合同，购买一套价值308万元的房屋，交了......</p>
                        <a class="list-more" href="article.htm"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="footer_box">
    <footer class="container">
        <div class="foot_list">
            <dl>
                <dd><img src="img/logo-2.png"> </dd>
            </dl>
            <dl>
                <dd>请您投递邮箱：jingshiweidelawyer@163.com</dd>
                <dd>
                    <a href="#">隐私条款</a>
                    <a href="#">法律声明款</a>
                    <a href="#">加入我们</a>
                    <a href="#">联系我们</a>
                </dd>
                <dd>主任免费咨询：400  678  7698 </dd>
                <dd>律师免费咨询：400  678  7698</dd>
                <dd><a href="#">地址：北京市朝阳区东四环中路37号京师律师大厦</a></dd>
            </dl>
        </div>
        <div class="foot_ewm">
            <a href="#"><img src="img/ewm.jpg"></a>
            <p>扫一扫关注我们</p>
        </div>
        <div class="foot_bottom">
            <span class="foot_logo"></span>
            Copyright 京师维得律师团队 All rights  reserved. 京ICP备17072863
        </div>
    </footer>
</div>

</body>
<script src="../common/js/vendor/jquery-1.9.0.min.js"></script>
<script src="../common/js/vendor/headroom.min.js"></script><!--导航跟随效果-->
<script src="js/wi_main.js"></script><!--网站主要js-->

</html>