*{padding:0;margin:0;}
html{width:100%;height: 100%;}
body{
	width:100%;
    height: 100%;
    background: url(../img/wsjbg.jpg) no-repeat;
    background-size: 100% 100%;
    font-size: 62.5%;
    font-family: "微软雅黑";
    position: relative;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.sign_wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.logo{
	width: 3rem;
	height: auto;
    margin:1.6rem 0 0 1.2rem;

}
.logo img{
    width:100%;
    height: 100%;
}
.activityTitle{
	display: block;
	text-align: center;
	color: #ea1212;
	font-size: 1.7rem;
}
.sign_title{
	width: 100%;
	margin:2em 0 0.7rem 0;
}
.sign_title img,
.sign_line img{
	display: block;
	margin:0 auto;
	width:16rem;
}
.sign_line{
	width: 100%;
	margin-bottom: 1.4rem;
}
.sign_line img{
	width:19rem;
}
.sign_text{
	font-size:1rem;
	text-align: center;
	color:#fff;
}
.sign_text p{
	line-height: 1rem;
	margin-bottom: 0.5rem;
}
.sign_form{
	width:14rem;
	margin:1.8rem auto 2rem auto;
}
.sign_term{
	width:100%;
	height:2.4rem;
	border:0.08rem solid #9696a1;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-ms-border-radius: 0.4rem;
	-o-border-radius: 0.4rem;
	border-radius: 0.4rem;
	margin-bottom: 1.1rem;
}
.sign_term label{
	width:1.2rem;
	height: 1.4rem;
	float: left;
	margin:0.5rem 0.7rem 0.5rem 0.9rem;
}
.sign_term label.sign_name{
	background: url(../img/name.png) no-repeat;
	background-size: 100% 100%;
}
.sign_term label.sign_phone{
	background: url(../img/phone.png) no-repeat;
	background-size: 100% 100%;
	width:1rem;
	margin:0.5rem 0.8rem 0.5rem 1rem;
}
.sign_term input,.sign_term button{
	height: 2.4rem;
	width: 10rem;
	border:none;
	background: transparent;
	outline: none;
	color: #fff;
}
.sign_term button{
	text-align: center;
	display: block;
	width: 100%;
}
.sign_button{
	height: 2.5rem;
	overflow: hidden;
}
.sign_button button{
	width:100%;
	height: 100%;
	background: #eca012;
	border:none;
	outline: none;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	-ms-border-radius: 0.3rem;
	-o-border-radius: 0.3rem;
	border-radius: 0.3rem;
	color: #fff;
	font-size: 1rem;
}

.sign_term input::input-placeholder {
    color: #fff;
}

.sign_term input::-webkit-input-placeholder {
    color: #fff;
}

.sign_term input:-ms-input-placeholder {
    color: #fff;
}

.sign_term input:-moz-placeholder {
    color: #fff;
}

.sign_term input::-moz-placeholder {
   color: #fff;
}
.sign_welcome{
	text-align: center;
	color: #fff;
	font-size: 1rem;
}
.sign_welcome i{
	opacity:0.6;
	margin:0 0.3rem;
}
.sign_bg{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.6);
}
.sign_tk{
	position: fixed;
	left: 50%;
	top:50%;
	width: 12rem;
	height:10rem;
	margin-left: -6rem;
	margin-top: -6rem;
	background: #fff;
	-webkit-border-radius: 0.6rem;
	-moz-border-radius: 0.6rem;
	-ms-border-radius: 0.6rem;
	-o-border-radius: 0.6rem;
	border-radius: 0.6rem;
}
.sign_suc{
	width: 100%;
	position: relative;
	padding-top:2rem;
}
.suc_title{
	width: 130%;
	height: 3.8rem;
	background: url(../img/suc_title.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -15%;
	top:-2rem;
}
.sign_con{
	width: 10rem;
	margin:0 auto;
	text-align: center;
	font-size:1.1rem;
	line-height: 2rem;
	padding:1.5rem 0 2rem 0;
}
.sign_con p{
	letter-spacing:0.2rem;
}
.sign_close{
	position: absolute;
	width: 1.4rem;
	height: 1.4rem;
	left:50%;
	bottom:-4rem;
	margin-left: -0.7rem;
	background: url(../img/close.png) no-repeat;
	background-size: 100% 100%;
	padding:0.1rem;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.sign_close:hover{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.unsuc_title{
	width: 100%;
	height: 2.6rem;
	background: #ead190;
	line-height: 2.6rem;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	-webkit-border-radius: 0.4rem 0.4rem 0 0;
	-moz-border-radius: 0.4rem 0.4rem 0 0;
	-ms-border-radius: 0.4rem 0.4rem 0 0;
	border-radius: 0.4rem 0.4rem 0 0;
	position: absolute;
	left: 0;
	top:0;
}
.dialogChange{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	text-align: center;
}
.dialogChange .Dtitle{
	width: 85%;
	margin: 0 auto;
	margin-top: 25%;
	font-size: 1.4rem;
	line-height: 3rem;
	background: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #eee;
	z-index: 99999;
}
.dialogChange .Dcontent{
	width: 85%;
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 2rem;
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	z-index: 99999;
}
.dialogChange .Dcontent .list{
	font-size: 1rem;
	line-height: 2.4rem;
	background: #fff;
}
.dialogChange .Dcontent .list:hover {
	background: #f3f3f3;
}
.zbtn,.guanzhuok{
    display: block;
    width: 100%;
    height: 100%;
    background: #eca012;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border: 0;
}
.ewmbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
    display: block;
}

.ewmbox img {
    position: absolute;
    width: 80%;
    height: auto;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.ewmbox h1 {
    position: absolute;
    width: 80%;
    font-size: 24px;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    color: #fff;
    line-height: 1.5em;
}
.img-box{
	width: 16rem;
	height: 9rem;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
@media screen and (max-height: 568px) {
	.logo {
	    width: 7rem;
	    height: 1.8rem;
	    margin: 1.4rem 0 0 1rem;
	}
	.sign_title {
	    margin: 3rem 0 0.7rem 0;
	}
	.sign_title img{
		width: 14rem;
	}
	 .sign_line img{
		width: 16rem;
	}
	.sign_text p{margin-bottom: 0.3rem}
	.sign_form{
		margin:3rem auto 2.5rem auto;
		width: 13rem;
	}
	.sign_term, .sign_button{height: 2.2rem;}
	.sign_term label{margin: 0.4rem 0.7rem 0.4rem 0.9rem;}
	.sign_welcome{
		font-size:0.9rem;
	}
	.sign_welcome i {
	    opacity: 0.6;
	    margin: 0 0.2rem;
	}
}
@media screen and (min-height: 700px){
	.logo {
   		margin:2rem 0 0 1.2rem;
	}
	.sign_title {
	    width: 100%;
	    margin: 2rem 0 0.9rem 0;
	}
	.sign_line {
	    width: 100%;
	    margin-bottom: 2rem;
	}
	.sign_form {
	    width: 15rem;
	    margin: 2rem auto 1.8rem auto;
	}
	.sign_term input{
		width: 12rem;
	}
}
